.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
hr.colored {
   
    height: 8px;
    background: linear-gradient(to left, rgb(161, 235, 3) 0%, rgb(168, 243, 5) 12.5%, rgb(232, 247, 174) 12.5%, rgba(245,253,212,1) 25%, rgb(240, 182, 90) 25%, rgba(255,208,132,1) 37.5%, rgba(242,122,107,1) 37.5%, rgba(2220, 20, 60, 1) 50%, rgb(218, 100, 149) 50%, rgb(243, 116, 169) 62.5%, rgb(123, 104, 238, 1) 62.5%, rgba(123, 104, 238, 1) 75%, rgb(0, 0, 255, 1) 75%, rgba(0, 0, 255, 1) 87.5%, rgba(0, 191, 255, 1 ) 87.5%, rgba(0, 191, 255, 1 ) 87.5%, rgba(0, 191, 255, 1 ) 100%); /* W3C */
  }